<!-- http://localhost:8080/(SOMETHING) -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous">
</script>
<title>Happy Retail</title>
<style>
	body {
		background-image:url('../images/store.jpg');
		width:100%;
		height:auto;
		background-size:cover;
		opacity:.9;
	}
	.button {
		margin:0 auto;
		text-align:center;
		display:flex;
		justify-content:center;
		align-items:center;
		padding-top:200px;
	}
	.btn-primary {
		background-color:#37123C;
	}
	
	.jumbotron {
		background-color:#71677C;
		color:white;
		<!-- color:rgba(0,0,0,0.9); -->
		font-weight:bold;
	}
	small {
		font-style:italic;
	}
	#adminlink {
		color:white;
	}
</style>
</head>
<body>
	<h1 class="jumbotron">
		Welcome to Happy Retail <small>Experience the difference ;)</small>
	</h1>
	<div class="button">
		<table>
			<tr>
				<td><a href="user" class="btn btn-primary">Sign in</a></td>
			</tr>
			<tr>
				<td><a href="admin" id="adminlink">Log in as admin</a></td>
			</tr>
		</table>
	</div>
</body>
</html>