<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous">
</script>
<link rel="stylesheet" href="../css/loginstyle.css" />
<title>Registration</title>
</head>
<body>
	<div id="card-container">
		<div class="card">
			<form method="POST" action="registerUser">
				<table align="center">
					<tr>
						<td><label for="uname">Enter a username</label></td>
					</tr>
					<tr>
						<td><input type="text" class="form-control" id="uname"
							placeholder="Enter username" name="uname"></td>
					</tr>
					<tr>
						<td><label for="pwd">Enter a password</label></td>
					</tr>
					<tr>
						<td><input type="password" class="form-control" id="pwd"
							placeholder="Enter password" name="pwd"></td>
					</tr>
					<tr>
						<td style="padding: 10px" align="center"><input type="submit"
							class="btn btn-primary" value="Register" /></td>
					<tr>
				</table>
			</form>
		</div>
	</div>
</body>
</html>